//fonts
$fofiaBold :"sofia_probold", Helvetica, sans-serif;
$interFont : 'Inter', sans-serif;
//sizes
$basedesktopWidth:1440px;
$baseMobileWidth:360px;
$fontH1: 32px;
$fontH2: 18px;
$navbarHeight:70px;
//colors
$primaryColor: #2CD5C4;
$themeBackground:#f0f0f0;
$darker:#2e3e4e;
