//navbar styles
@import '../theme.scss';
.navbar{
    height: $navbarHeight;
    position: fixed;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $primaryColor;
    width: 100%;
    color: #fff;
    z-index: 9999;
    &__logo{
        font-family: $fofiaBold;
        font-size: 20px;
        text-align: left;
        display: flex;
        margin-right: auto;
    }
    &__user{
       
    }
}